.progressBar
{
    background-color: rgb(216, 216, 216);
    width:155px;
    height:24px;
}

.progress
{
    //clear:left;
}

.green
{
    background-color: rgb(0, 216, 0);
    height:100%;
}

.red
{
    background-color: rgb(216, 0, 0);
    height:100%;
}

